html {
    font-size: 100%;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.navbar-nav .nav-link {
    color: #000;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
}

.custom-bg-color {
    background-color: #88e6f3; 
}

.custom-nav-spacing .nav-item {
    margin-left: 40px; 
}

.search-box {
    transition: all 0.8s ease-in-out;
}

.search-box:hover {
    transition: all 0.8s;
}

.main-banner {
    width: 100% !important;
    height: 500px !important;
}

.banner {
    position: relative;
    width: 800px;
    height: 100%;
    background-image: url(./service-8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}

@media (max-width: 799.99px) {
    .banner {
        width: 100% !important;
        margin: 0 auto;
        background-size: cover;
    }
    .main-banner {
        height: 300px !important;
    }
}

.bg-color {
    background-color: rgb(163, 212, 244) !important;
}

.banner-text {
    background-color: #676c70;
    width: 37vw;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    top: 3vw;
    left: 3vw;
}

.img-banner {
    width: 35vw;
}

.contact-banner {
    margin: 25px 0;
}

.contact-banner p {
    font-size: 1.2vw;
    font-weight: 100;
}

.btn-banner {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 5px;
    border: none;
    background-color: #737c83;
    transition: background-color .2s ease-in-out;
}

.btn-banner:hover {
    background-color: #99a7b3;
}

.txt-spin {
    background-color: #80d4d5;
    margin: 100px 0;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: rgb(8, 88, 81);
    font-size: 15px;
}

.txt-spin h1 {
    font-size: 25px;
    font-weight: bolder;
}

.card {
    text-align: center;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 5px 8px rgb(234, 234, 234);
    transition: transform 0.3s ease;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.875rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.btn-primary:hover {
    background-color: #0056b3;
    box-shadow: 0 4px 8px rgba(0, 91, 187, 0.2);
}

.footer {
    background: linear-gradient(236deg, #31ccb0, #044568);
}